.movie {
  width: 100%;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
}

.movieInfo {
  position: relative;
  top: 10px;
  left: 10%;
  width: 500px;
  font-size: small;
  margin: 10px auto;
  padding: 5px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.slider-movies {
  height: 500px;

  &__movie {
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &-info {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 40px;
  }

  > div {
    background-color: #a7a7a7;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 20px;
  }
}
